/* Write your code here. */
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.images {
  width: 100%;
  margin: auto;
  border-radius: 10px;
}
.nature-heading {
  font-weight: bold;
  font-size: 30px;
  font-family: 'roboto';
  color: black;
  text-align: start;
  align-self: flex-start;
  padding-left: 140px;
}
.description {
  font-size: 16px;
  font-family: 'roboto';
  color: black;
  text-align: start;
  align-self: flex-start;
  padding-left: 140px;
}
.thumbnail-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-self: flex-start;
  margin-left: 100px;
}
